* {
  padding: 0;
  margin: 0;
  overscroll-behavior: none;
}

.container {
  padding: 20px 20px 20px 20px;
  max-width: 100%;
}

.title {
  padding: 20px 0px 20px 0px;
  text-align: center;
}

.mb-1 {
  margin-bottom: 10px;
}

.content {
  padding: 20px 0px 20px 0px;
}

td {
  width: calc(100vw / 3 - 50px);
  height: calc(100vw / 3 - 50px);
  text-align: center;
  border-color: black;
  border-style: solid;
  display: inline-inline-table;
}

.puzzle-wrapper {
  display: table;
}

canvas {
  width: calc(100vw / 3);
  height: calc(100vw / 3);
  display: block;
  float: left;
}

.hidden {
  display: none;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
